root = true

[*]
indent_style = space
indent_size = 4
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.asm]
indent_style = tab
tab_width = 8
indent_size = 8

[*.md]
trim_trailing_whitespace = false

[Makefile]
indent_style = tab
tab_width = 8
indent_size = 8

[*.{ld,lds}]
indent_style = space
indent_size = 4

[*.yaml]
indent_style = space
indent_size = 2

[*.yml]
indent_style = space
indent_size = 2

[*.json]
indent_style = space
indent_size = 2

[*.sh]
indent_style = space
indent_size = 4
