insmod iso9660
insmod part_msdos

set timeout=10
set default=0

#menuentry "GLOBEX by TMLCS" {
#multiboot2 /boot/globex.bin
#boot
#}

menuentry "Kernel" {
	multiboot2 /boot/kernel.bin
	boot
}

menuentry "Shutdown" {
	halt
}

menuentry "Reboot" {
	reboot
}
