insmod iso9660
insmod part_msdos

set timeout=10
set default=0

menuentry "GLOBEX by TMLCS (normal mode)" {
	multiboot2 /boot/kernel.bin
	boot
}

menuentry "GLOBEX by TMLCS (safe mode)" {
	multiboot2 /boot/kernel.bin --safe-mode
	boot
}

menuentry "GLOBEX by TMLCS (debug mode)" {
	multiboot2 /boot/kernel.bin --debug-mode
	boot
}

menuentry "GLOBEX by TMLCS (verbose mode)" {
	multiboot2 /boot/kernel.bin --verbose-mode
	boot
}

menuentry "GLOBEX by TMLCS (safe mode + debug mode)" {
	multiboot2 /boot/kernel.bin --safe-mode --debug-mode
	boot
}

menuentry "GLOBEX by TMLCS (safe mode + debug mode + verbose mode)" {
	multiboot2 /boot/kernel.bin --safe-mode --debug-mode --verbose-mode
	boot
}

menuentry "Shutdown" {
	halt
}

menuentry "Reboot" {
	reboot
}
